body{
    font-size: 12px; font-family: sans-serif; background: #2c3e50;
}
.menu{
    display: flex;
    width: 600px;
    height: 60px;
    justify-content: space-between;
    margin-left: 27%;
    /*border: 2px solid black;*/
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;

}

.Comments{
    width: 200px;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    /*border: 2px solid hotpink;*/
    transition: 2s;
    color: silver;
    background-color:#34495e;
    list-style: none;
    margin-left: 1px;
}
.menu a [class='active']{
     color: #61dafb;

 }

.Comments:hover{
    background: #61dafb;
    color: white;
    border-radius: 8px;
}
